@media (min-width: 1024px) and (max-width: 1339px)
{
    .Icon
    {
        display: none;
    }

    #navMiddle
    {
        width: 53%;
    }

    #Right-2
    {
        width: 46%;
    }

    #Right-3
    {
        display: none;
    }

    #Right-4
    {
        text-align: center;
        padding-top: 10px;
    }
    .Product
    {
        width: 40%;
        margin: auto;
        margin-bottom: 20px;
    }

    .Item2
    {
        width: 45%;
    }

}


@media (min-width:1440px)
{
    .Product
    {
        width: 23%;
    }
    .Location
    {
        width: 100%;
    }
    .Info
    {
        width: 75%;
    }
    .Icon
    {
        max-width: 12px;
    }

    .Cart .Info
    {
        width: auto;
        margin-left: 25px;
    }


}