@media (max-width: 1023px)
{
    .Laptop
    {
        display: none;
    }
    .Mobile
    {
        display: block;
    }
    #Top-2
    {
        margin-right: 20%;
    }
    #Top-3
    {
        width: 25%;
    }

    .wrapper
    {
        width: 90%;
        margin:auto;
        margin-bottom: 10px;
    }
}