@media (max-width: 1023px)              /*This Is Applicable For Both Mobile And Tablet Screens*/
{
    .Laptop
    {
        display: none;
    }
    .Mobile
    {
        display: block;
    }
    #Top-2
    {
        margin-right: 20%;
    }
    #Top-3
    {
        width: 25%;
    }

    .wrapper
    {
        width: 90%;
        margin:auto;
        margin-bottom: 10px;
    }
    .productOneImage
    {
        height: 250px;
    }
    .borderWrapper
    {
        width: 60%;
    }


}


/*Mobile Only =========================>*/

@media (max-width: 767px)
{
    .Product
    {
        width: 90%;
        margin: auto;
        margin-bottom: 40px;
    }
    .SSImg
    {
        display: none;
    }

    .SpecialSection
    {
        width: 100%;
    }
}
