
@font-face
{
    font-family: 'amazon';
    src: url(../Fonts/Amazon\ Ember.ttf);
}


*
{
    padding : 0px;
    margin: 0px;
    font-family: 'amazon';
}

body
{
    background-color: #EAEDED;
}

.Mobile
{
    display: none;
}

.line-1
{
    display: block;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    color: #ccc;
}
.line-2
{
    display: block;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    color: white;
}

a
{
    text-decoration: none;
    color:inherit;
}

a:hover
{
    text-decoration: none;
    color: initial;
}


/*==================================================== Laptop Navbar ============================================================*/


nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #131921;

    width: 100%;
    height: auto;
}

.navSection
{
    height: 60px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


.navItem
{
    height: 50px;
    margin-top: 5px;
    padding-top: 5px;
    border: 1px solid transparent;
}

.navItem:hover
{
    border-color: white;
}

.Hoverless:hover
{
    border-color: transparent;
}

#navLeft
{
    width: 14%;
}

#navMiddle
{
    width: 60%;
}

#navRight
{
    width: 26%;
}


/*====================================== Left Nav Section ==========================================================================*/


.Icon
{
    display:inline-block;
}

.Info
{
    display:inline-block;
    color: #dddddd;
    font-weight: 700;
}


#Right-2
{
    width: 35%;
     height: 50px;
}



.dropdown-menu
{
    height: 300px;
    overflow: auto;
}

.Searchbar
{
    width: 50% !important;
}

.dropdown-toggle
{
    background-color: #dadada;
    border-color: #dadada;
    border-top-right-radius:0;
    border-bottom-right-radius:0;

    color: black;
}

.dropdown-toggle:active
{
    border-color: transparent;
}

.submit
{
    background-color: #F3A847 !important;
}




.language, .language:hover , .language:focus, .language:active
{
    background-color: transparent;
    border: none;    
    color: gray;
}

.rightButton
{
    background-color: transparent;
    border-color: transparent;
    color: white;
}

.rightButton:hover
{
    border-color: transparent;
    border-radius:0px;
    background-color: transparent;
}

.rightButton:focus
{
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none;
}

.rightButton h2
{
    font-size: 14px;
    font-weight: 700;
    display: inline;
}

.rightButton h3
{
    font-size: 12px;
}

.DropLogin
{
    position: relative;
    left: -400px;
    width: 600px;
    height: auto;
}

.DropLogin a:hover , .dropListLink:hover
{
    color : blue;
}



.Signin-Button
{
    color: black;
    background-color: #F2CB69 !important;
    border: 1px solid transparent !important;    
}

.Signin-Button:hover
{
    background-color: rgba(242, 203, 105,0.8) !important;
}




.dropListLink
{
    font-size: 13px;
    color: #444; 
    font-weight: 400;
    transition: all 0.5s;
}


.Rippon
{
    background-color: rgb(35,47,62);

    width: 100%;
    height: 40px;

}

.Rippon
{
    padding-top: 1px;
}

.Rippon ul
{
    margin-left: 20px;
    margin-top: 2px;
    padding-top: 5px;
    
    
}

.Rippon ul li
{
    display: inline;
    font-size: 14px;
    margin-right: 10px;
    padding: 2px;
}


.Rippon ul li a
{
    text-decoration: none;
    color: white;
}



/*================================================================= Mobile Navbar =============================================================*/

/*Top Slide*/

.mobileSection
{
    margin-left: 8px;
    justify-content: start;
}


#Top-1
{
    width: 10%;
    margin-Right:10px;
}

#Top-2
{
    margin-top: 8px;
    margin-right: 40%;
}

#Top-3
{
    width: 12%;
}



.Mobile-Sign .Info
{
    width: 50%;
    font-size: 13px;
    display: inline;
}

.Mobile-Sign .Icon
{
    width: 25%;
}

.MobileSearch
{
    width: 98%;
}

.navSlider
{
    text-align: center;
    overflow: auto;
    white-space: nowrap;
}

.navSlider li
{
    text-align: center;
    display: inline;
    color: white;
    margin-right: 5px;
    
}


/*========================================================= Body ============================================================================*/
.First-Slider
{
    width: 99%;
    margin: auto;
    height: 250px;
}

.row
{
    height: auto;
    margin-left: 1.5%;
}

.Product
{
    width: 350px;
    height: 420px;
    position: relative;
    z-index: 20;
    margin-right: 20px;

    background-color: white;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

.Product h4
{
    font-size: 21px;
    font-weight: 600;
    padding-left: 20px;
}


/*===================================================================================*/

.fourImages
{
    display: flex;
    flex-wrap: wrap;
    height: 80%;

    margin-bottom: 10px;
}

.fourImages-img
{
    width: 50%;
    height: 50%;
}

.fourImages-img img
{
    height: 80%;
    width: 100%;
}


.fourImages-img h2
{
    height: 20%;
    font-size: 100%;
    padding-left: 20px;
    
}

#Special
{
    font-size: 12px;
    text-align: center;
}


/*===================================================================================*/
.oneImage
{
    width: 90%;
    margin: auto;
    height: 85%;
}

.oneImage img
{
    width: 100%;
    height: 100%;
}



/*===================================================================================*/


.productSlider
{
    width: 99%;
    background-color: white;
    padding: 10px 0px 10px 10px;
    margin-bottom: 20px;
}


.productCarasoul
{
    width: 100%;
    height: 200px;
    overflow: auto;
    white-space: nowrap;
}



.carousel-img
{
    width: auto;
    height: 75%;
    display: inline-block;
    margin-right: 60px;
    margin-top: 20px;

}

.carousel-img img
{
    max-width: 200px;
    height: 100%;
}

/*===================================================================================*/
.dealDay
{ 
    width: 90%;
    margin: auto;
    height: 85%;
}

.dealDayImg
{
    width: 100%;
    height: 80%;
    margin-bottom: 10px;
}

.dealDayImg img
{
    height: 100%;
    width: 100%;
}


.rippon
{
    font-size: 12px;
    background-color: #CC0C39;
    color: white;
}

.rippon:hover
{
    color: white;
}

.dealDay span
{
    font-size: 12px;
    color: #CC0C39;
}

/*===================================================================================*/
.SpecialSection
{
    background-color: transparent;
    text-align: center;
}

.SpecialSection .Sign
{
    width: 100%;
    height: 150px;
    margin-top: -20px;
    background-color: white;
    margin-bottom: 20px;

    padding-top: 15px;

}

.SpecialSection .Sign h2
{
    font-size: 21px;
    text-align: center;
    margin-bottom: 25px;
}

.SpecialSection .Sign button
{
    width: 90%;
    height: 30px;


    padding-top: 2px;

    margin-left: 15px;
    border-radius: 10px;

    background-color: transparent;
    border-color:#FCD200;

    color: black;
    font-size: 15px;

    transition: all 0.5s;
}

.SpecialSection .Sign button:hover
{
    background-color: #FCD200;
    color: black;
}




/*===================================================================================*/

.One-img
{
    width: 95%;
    margin: auto;
}

.Three-img
{
    width: 30%;
    margin: auto;
}

.One-img h2 , .Three-img h2
{
    text-align: left;
    padding-left: 2px;
}

/*===================================================================================*/


.seeMore
{
    width: 100%;
    color: #007185;
    padding-left: 20px;

    font-size: 13px;

    position: absolute;

    bottom: 15px;
    left: 10px;

}

.seeMore:hover
{
    color: orange;
    text-decoration: underline;
}


/*===================================================================================*/

.beforeFooter
{
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 1px;
}

.border
{
    height: 80%;
    margin-top: 20px;
    padding-top: 30px;
}

.border button
{
    margin-bottom: 5px;
    background-image: linear-gradient(to right, #FFCA44,#FFCC4D);
    color: black;
}

.border button:hover
{
    color: black;
}

.border h5
{
    font-size: 14px;
    text-align: center;
}

.border h5 a
{
    color: blue;
}

.border h5 a:hover
{
    text-decoration: underline;
}


.borderWrapper
{

    width: 15%;
    height: 75%;
    margin: auto;
}

/*===================================================================================*/
.backToTop
{
    background-color: #485769;
    font-size: 10px;
    height: 50px;
    border: 0px !important;
    border-radius: 0px !important;
}

.backToTop:hover
{
    background-color:#37475A;
}

.backToTop:focus
{
    background-color:#37475A !important;
    border-color: #37475A !important;
    box-shadow: none !important;
}

.backToTop:active
{
    background-color:#37475A !important;
    border-color: #37475A !important;
    box-shadow: none !important;
}

/*===================================================================================*/
.footer
{
    background-color: #232F3E;
    color: white;
    font-family: 'amazon';
}

.footer h4
{
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}

.footer ul
{
    list-style: none;
}

.footer ul li
{
    font-size: 14px;
    color: #dddddd;
    margin-bottom: 5px;
}

.footer ul li a:hover
{
    text-decoration: underline;
    color: #dddddd;  
}

